.page {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-card {
    max-height: 80%;
    width: 400px;

    .new-task-list {
      height: 160px;
    }

    .title-form-field {
      margin-top: 25px;
    }

    .description-form-field {
      width: 100%;
    }

    .add-button-container {
      position: absolute;
      margin-top: -20px;
      z-index: 1000;
      margin-left: 40%;
    }
  }
}
